

data/.DS_Store
.DS_Store
*.pyc
nli_nlp_lab.egg-info/PKG-INFO
*.txt
nli/.DS_Store
.DS_Store
*.lst
*.json
*.pt
nli/.DS_Store
.DS_Store
*.jsonl
*.pickle
data/checkpoint_pretrained-transformers-cls/checkpoint_pretrained-transformers-cls
*.bin
checkpoint
*.out